<div class="main-container">
    <h1>Manage Listings</h1>

    <div class="cards">
        {{#each user.list}}
            <div class="cards-item">
                <img class="img-size" src={{this.photo}} alt="list image">
                <p class="item-name">{{this.title}}</p>
                <a href="/edit/{{this._id}}">
                    <p>Edit</p>
                </a>
                <a href="/delete/{{this._id}}" onclick="return confirm('Are you sure?')">
                    <p>Delete</p>
                </a>
        {{else}}
         </div>
        <div class="no-listings">
            <div class="padding">
                <h3>No listings available.</h3> 
            </div>
            <a href="/create" class="btn primary-button">Create Listing</a>
        </div>
        {{/each}}
    </div>

</div>