<div class="main-container"> 
  <h1>Account</h1>

  <form method="POST" action="/account">

    <div class="mb-3">
      <label for="exampleInputName" class="form-label">Name</label>
      <input type="text" name="name" value="{{user.name}}" class="form-control" id="exampleInputName">
    </div>
  
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" name="email" value="{{user.email}}" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>

    <div class="mb-3">
      <label for="neighbourhood" class="form-label">Neighbourhood</label>
      <select class="form-select" name="neighbourhood" value="{{user.neighbourhood}}" aria-label="Default select example">
              {{#each neighbourhood}}
              
                <option value="{{this._id}}" {{{select user this.name}}}>{{this.name}}</option>

              {{/each}}
      </select>
    </div>

  <button type="submit" class="btn primary-button">Save Changes</button>

  </form>

  <div class="padding-above">
    <a href="/account/delete/{{user._id}}">
      <p>Delete Account</p>
    </a>
  </div>
  
  {{#if error}}
      <p class="error">{{error}}</p>
  {{/if}}

</div>