<div class="main-container"> 
    <h1>Rehome Goods in Your Neighbourhood</h1>
    <h4>📍 {{neighbourhood_name}}</h4>

<!--
    <div>
        <form action="/">
            <div>
                <input type="search" id="mySearch" name="search"><button>Search</button>
             </div>
        </form>
     </div>
-->
<<<<<<< HEAD
  
=======
     <div class="cards">
>>>>>>> ac44f7d9d8a92e038314c8113b6d440bb72d4bca
        {{#each matches}} 
                <div class="cards-item">
                    <a href="/listings/{{this._id}}">
                        <img class="img-size" src={{this.photo}} alt="list image">
                        <p class="item-name">{{this.title}}</p>
                    </a> 
                </div>
        {{else}}
        </div>
            <div class="no-listings">
                <div class="padding">
                    <h3>No listings available.</h3> 
                </div>
                <a href="/create" class="btn primary-button">Create Listing</a>
            </div>
        {{/each}}

    </div>
    
</div>