<div class="main-container"> 
    <h1>Rehome Goods in Your Neighbourhood</h1>

    <div class="search-bar">
        <h4>📍 {{neighbourhood_name}}</h4>

        <div>
            <form action="/" method="GET">
                <div>
                    <input type="search" id="mySearch" name="search" class="search"><button class="btn secondary-button">Search</button>
                </div>
            </form>
        </div>
    </div>

     <div class="cards">
        {{#each matches}} 
                <div class="cards-item">
                    <a href="/listings/{{this._id}}">
                        <img class="img-size" src={{this.photo}} alt="list image">
                        <p class="item-name">{{this.title}}</p>
                    </a> 
                </div>
        {{else}}
        </div>
            <div class="no-listings">
                <div class="padding">
                    <h3>No listings available.</h3> 
                </div>
                <a href="/create" class="btn primary-button">Create Listing</a>
            </div>
        {{/each}}

    </div>
    
</div>